<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployment Practice</title>
</head>
<body>
    <h1><%= homedata[0].title %></h1>
    <p><%= homedata[0].section_1 %></p>
    <p><%= homedata[0].section_2 %></p>
    <p><%= homedata[0].section_3 %></p>
    <p><%= homedata[0].section_4 %></p>
</body>
</html>